#root {
  display: flex;
  min-width: 100%;
  flex-direction: column;
}
.carousel-item img {
  width: 100%; /* La imagen se ajusta al 100% del contenedor */
  height: 700px /* Ajusta la altura según tu diseño */
}
body{
  background-color: aliceblue !important;
}
.modal-body {
  font-size: 18px;
  text-align: justify;
}

.modal-header {
  background-color: #d9534f;
  color: white;
}
.modal-body p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
}

.modal-header {
  background-color: #d9534f;
  color: white;
}

.modal-footer {
  background-color: #f1f1f1;
}
/* Asegurar que la página use toda la altura */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Contenedor principal para que el contenido se expanda correctamente */
.main-content {
  flex: 1;
}

/* Imagen de fondo solo para "Gestionar Turnos" y "Reservar Turnos" */
.turnos-background {
  background-image: url('https://www.traumadeportgh.com/storage/app/public/imagenes/2018_09/slider-cardiologia.jpg'); /* Cambia la ruta a tu imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 69vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilos para hacer los formularios más elegantes */
.turnos-container {
  background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  padding: 30px;
  border-radius: 10px;
  color: white;
  width: 90%;
  max-width: 500px;
}

/* Ajustes del footer */
.footer {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Empuja el footer hacia abajo */
}
/* RESTO DE PÁGINAS SIN FONDO OSCURO */
body:not(.turnos-page) {
  background-color: white !important;
}
